
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900');
body{
	font-family: 'Raleway', sans-serif;
}
p{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	margin-top: 15px;
	margin-bottom: 15px;
}
h2{
		font-family: 'Raleway', sans-serif;
}
table{
		font-family: 'Raleway', sans-serif;
}
a{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	text-decoration: none;
	color: #e70882;
}
.header-main{
	position: absolute;
	top: 2px;
	width: 90%;
	z-index: 8;
	margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.logo{
	padding: 10px;
	float: left;
}
.main-menu{

	float:right;
	height: 100px;
	background-color: transparent;
  -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ;
}
.main-menu ul {
	  -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
	list-style: none;
	display: table;
	height: 100%;
}
.main-menu ul li{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}
.main-menu ul li a{

	color: #111111;
	text-transform: uppercase;
}
.main-menu{
	max-width: 100%;
	  -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}
.main-menu ul li a:hover{
	color: #f064b1;
}
#bod{
	padding-top: 100px;
}
.main-menu ul li{
	vertical-align: middle;
	}
.container-almost-width{
	max-width: 1920px;
	margin: 0 auto;
	position: relative;

}
.pos-abs{
	position: absolute;
	z-index: 9;
	width: 100%;
	top: 0px;
	margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
.img-responsive{
	max-width: 100%;
	height: auto;
}

.slider-nav{
    position: absolute !important;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

.slider-nav-div{
background-color: rgba(0, 0, 0, 0.5);
height: 100px;
text-align: center;
padding-top: 6%;
color: #fff;
cursor: pointer;
font-size: 21px;
text-transform: uppercase;
}
.slider-nav  .slick-list {
	padding: 0px !important;
}
.slick-current  .slider-nav-div{
	color: #000;
	background-color: rgba(255, 255, 255, 0.5);
}
.slider-main .slick-list{
	    height: 96vh !important;
}
.slid-content{
	position: absolute;
    top: 16%;
    left: 17%;
}
.slid-content h2{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 10px;
	margin-top: 10px;
}
.slid-content p.con1{
    font-size: 120px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    max-width: 55%;
    line-height: 102px;
}
.slid-content p.con2{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 20px;
	text-transform: uppercase;

	color: #f064b1;
}
.section2{
	margin-top: 100px;
  -webkit-background-size: contain !important;
  -moz-background-size: contain  !important;
  -o-background-size: contain  !important; 
  background-size: contain  !important;
  min-height: 400px;
}

.section2_content{
	width: 30%;
	margin-left: 50%;
	padding: 20px;
}
.section2_content2{
	width: 40%;
	margin-left: 10%;
	padding: 20px;
	padding-top: 3%;
}
.center{
	text-align: center;
}
.subtitle{
	margin-top: 50px;
	margin-bottom: 50px;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.sklep{
	margin-top:20px;
}
.col20{
	width: 20%;
	float: left;
}
.col25{
	width: 25%;
	float: left;
}
.marks{
	margin-top: 30px;
	    overflow: hidden;
}
.col33{
	width: 33%;
	float: left;
}
h2.h2big{
	font-size: 50px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	background-color: #f6f2f1;
	padding: 40px;
	margin-top: 50px;
}
.menu-footer ul{
	list-style: none;
	margin: 0px;
	text-align: center;
}
.menu-footer ul li{
	display: inline-block;
	margin-left: 20px;
}
.menu-footer ul li:first-child{

	margin-left: 0px;
}
.menu-footer ul li a{
	color: #111111;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.menu-footer ul li a:hover{
	color: #f170b2;
}
.copy p{
	color: #111111;
	font-size: 12px;
}
.logo-footer{
	margin-top: 20px;
}
.fixed{
	position: fixed;
	top: 0px;
	background-color: rgba(255,255, 255, 0.8);
  -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 99;
    height: 70px;
    border-bottom: 1px solid #ebebeb;
}

.fixed img{
	max-width: 100px;
}
.fixed ul{
	height:70px;
}
.fixed ul li a{
	font-size: 15px;
}

.page-def{
	display: table;
	min-height: 480px;
	background-size: cover;
	width: 100%;
}
.onas{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.onas h2{
	font-size: 67px;
	font-weight: 900;
	text-transform: uppercase;
}
.col40{
	max-width: 40%;
	
}
.marauto{
	margin: 0 auto;
}
.text-left{
	text-align: left;
}
.max30{
	max-width:30%;
}
h2.zapytaj{
	font-size: 27px;
	margin-top: 40px;
}
.zapytaj_form{
	width: 37%;
	margin: 0 auto;
}
.zapytaj_form input{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 10px;
}

.contact_form{
	width: 70%;
	margin: 0 auto;
}
.contact_form input{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 10px;

}
.relat{
	position: relative;
}
form p{
	margin: 0px;
	padding: 0px;
}
span.wpcf7-list-item{
	padding: 0px;
	margin: 0px;
	display: block;
	margin-bottom: -20px;
	margin-top: 5px;
}
.select-style p{
	padding: 0px;
	margin: 0px;
}
.wpcf7-list-item{
	text-align: left;
	font-size: 16px;
}
.select-style {
    border: 1px solid #cccccc;
    width: auto;
    height: 50px;
    overflow: hidden;

    background-size: 50px 50px;
    background:  url("../img/arr.jpg") no-repeat 98% 4px;
    /* padding-top: 8px; */
}
span.wpcf7-list-item-label{
	font-size: 16px;
}
.select-style select {
	padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    color: #707070;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.por_form{
	max-width: 40%;
	margin: 0 auto;
}
.select-style select:focus {
    outline: none;
}
.zapytaj_form textarea{
		width: 100%;
	height: 100px;
	margin-top: 10px;
	padding: 10px;
}
.contact_form textarea{
		width: 100%;
	height: 100px;
	margin-top: 10px;
	padding: 10px;
}


.box {
  width: 100%;
    background: #fff;
    border-radius: 3px;
    padding-top: 25px;
    margin: auto;
    overflow: hidden;

}

.checkbox {
  position: relative;
  margin-bottom: 20px;
}

.checkbox label {
    padding-left: 30px;
    display: block;
    text-align: left;
}
.contact_form input[type="checkbox"], [type="radio"] {
	width: 16px;
	margin: 0px;
	padding: 0px;
	height: 16px;
}

.checkbox input {
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox input:checked + .input-helper:before {
  border-color: #009688;
}

.checkbox .input-helper:before,
.checkbox .input-helper:after {
  position: absolute;
  content: "";
  transition: all 200ms;
}

.checkbox .input-helper:before {
  left: 0;
  border: 2px solid #7a7a7a;
}

.checkbox input {
  width: 25px;
  height: 25px;
}

.checkbox input:checked + .input-helper:before {
  background-color: #009688;
}

.checkbox input:checked + .input-helper:after {
 
  opacity: 1;
}

.checkbox .input-helper:before {
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid #cfcfcf;
  color: #fff;
}

.checkbox .input-helper:after {
  content: '\2713';
  font-size: 13px;
  left: 3px;
  top: 0x;
  color: #fff;
  transform: scale(0);
  opacity: 0;
}
input.sub{
	height: 75px;
	background-color: #000;
	color: #fff;
	font-size: 27px;
	border-bottom: 3px solid #e6007e;
	font-weight: 600;
	cursor: pointer;
}
.mar_top100{
	margin-top: 100px !important;
}



.tabs-nav2 {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs-nav2 li:first-child a {
    border-right: 0;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}
.tabs-nav2 .tab-active a {
    background: hsl(0, 100%, 100%);
    border-bottom-color: hsla(0, 0%, 0%, 0);
   font-weight: 700;
   color: #000;
    cursor: default;
}
.tabs-nav2 a {
    background: hsl(120, 11%, 96%);
    font-size: 15px;
   	font-family: 'Raleway', sans-serif;
    color: hsl(215, 6%, 57%);
    display: block;
      border-left: 2px solid #fff;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
 
}
.tabs-nav2 li {
    float: left;
        width: 25%;
}
.tabs-stage2 {
  	font-family: 'Raleway', sans-serif;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    top: -1px;
    width: 100%;
}
.tabs-stage2 p {
    margin: 0;
    padding: 20px;
    color: hsl(0, 0%, 33%);
}




.faqs{
	text-align: left;
}
.faq h2{
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 10px;
}
.faq p{
	font-size: 21px;
	margin-top: 10px;
	font-weight: 400;
}
.faq{
	margin-top: 30px;
}
td.fir_td{
	width: 20%;
	font-weight: 700;
}
td.sec_td{
	width: 20%;
	font-weight: 700;
}
td.thir_td{
	width: 40%;
}
td.fou_td{
	width: 20%;
}
.szkolenia_content table{
	 border-collapse: collapse;
}
.szkolenia_content table td{
	border-spacing: 0px;
	border: 1px solid #f6f2f1;
	border-collapse: collapse;
		padding: 25px;
}
.szkolenia_content table tr{
	background-color: #f6f2f1;
	font-size: 21px;
	border-bottom:2px solid #fff !important;

}
input.wpcf7-form-control.wpcf7dtx-dynamictext.wpcf7-dynamichidden {
    margin: 0px;
    padding: 0px;
    height: 1px;
}
.btn {
    background-color: #000 !important;
    padding: 15px !important;
    border-bottom: 3px solid #e70882 !important;
    color: #fff !important;
    font-weight: 600 !important;
    cursor: pointer;
}
a.btn {
    background-color: #000;
    padding: 15px;
    border-bottom: 3px solid #e70882;
    color: #fff;
    font-weight: 600;
}
a.btn:hover{
    background-color: #e70882;
    padding: 15px;
    border-bottom: 3px solid #dedede;
    color: #dedede;
    font-weight: 600;
     -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}
.column50{
	width: 50%;
	float: left;
}
.row{
	overflow: hidden;
}
.przedstawiciel h2{
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.przedstawiciel p{
	font-size: 21px;
		margin-top: 5px;
	margin-bottom: 0px;
}
.przedstawiciel a{
	font-size: 21px;
		margin-top: 0px;
	margin-bottom: 5px;
}
.prze_con{
	padding-top: 30px;
}
h2.pure{
	margin-top: 0px;
	margin-bottom: 30px;
}

.sel-ord{
	min-width: 300px;
}
.sid-sklep{
	width: 30%;
	float: left;
}
.res-sklep{
	width: 70%;
	float: left;
}
.woof_redraw_zone {
    width: 80%;
    background-color: #f6f2f1;
    
}
ul.woof_list.woof_list_checkbox{
	padding: 0px !important;
}
.woof_checkbox_term{
	border-radius: 0px !important;
}
button.button.woof_submit_search_form {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-bottom: 3px solid #e6007e;
    	font-family: 'Raleway', sans-serif;
}
button.button.woof_reset_search_form{
	   width: 100%;
    height: 50px;
    background-color: #4b4b4b;
    color: #fff;
       border-bottom: 3px solid #e6007e;
       margin-bottom: 10px;
       	font-family: 'Raleway', sans-serif;
}
.woof_container_inner{
padding-left:20px;}
.woof_products_top_panel{
	display: none !important;
}
li.product{
	border: 2px solid #f6f2f1;
}
.woocommerce-loop-product__title{
	color: #000;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
	padding: 0px;
}
.page-numbers li {
	padding: 10px;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    padding: 10px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
	font-size: 15px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
	background: none;
}
.woocommerce nav.woocommerce-pagination{
	text-align: right;
}
.woocommerce ul.products li.product .price{
	color: #000 !important;
		font-family: 'Raleway', sans-serif;
}
.woof_container_inner.woof_container_inner_kategorieproduktw{
	padding-top: 20px;
}

.col30{
	width: 30%;
	float: left;
}
.col70{
	width: 70%;
	float: left;
}
.term_desc{
	padding-top: 30px;
}
.term_desc p{
	margin-bottom: 40px;
}
.marka{
	margin-top: 40px;
	display: inline-block;
	width: 100%;
}
.res-sklep p.woocommerce-info{
	margin-top: 80px;
}
.woocommerce-info{
	border-top-color: #e6007e !important;
}
.woocommerce-info::before{
	color: #e6007e !important;
}
h2.title-prod{
	margin-top: 5%;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 900;
}
.ml{
	float: left;
	font-size: 28px;
}
.ex_price{
	font-size: 28px;
	font-weight: 700;
}

button.single_add_to_cart_button.button.alt {
    background-color: #000;
    border-radius: 0px;
    padding: 25px;
    border-bottom: 3px solid #e6007e;
    height: 70px;
    }
    .woocommerce .quantity .qty{
    	height: 70px;
    	width: 80px;
    }
    .szt{
    	font-size: 28px;
    	margin-left: 10px;
    	margin-right: 15px;
    }

    .wo_pri{
    	margin-bottom: 20px;
    }

    .kosz{
    	width: 280px;
    	height: 60px;
    	margin: 0 auto;
    }
    p.white {
    color: #fff;
    margin: 0px;
    line-height: 18px;
    text-align: left;
    margin-left: 60px;
    font-weight: 600;
    font-size: 15px;
}
.ops{
	padding-top: 10px;
}

.woocommerce-privacy-policy-text{
	display: none;
}
form.woocommerce-form.woocommerce-form-login.login {
    max-width: 50%;
    margin: 0 auto;
}
.registration-form.woocommerce {
    width: 50%;
    margin: 0 auto;
}


.fryzjer{
	display: none;
}
.hurtownia{
	display: none;
}


.btn-200{
	width: 200px;
	display: block;
}

.col35{
	    max-width: 35%;
}

.text-up{
	text-transform: uppercase;
}


.marto{
	margin-top: 30px;
}


form.woocommerce-form.woocommerce-form-login.login{
		font-family: 'Raleway', sans-serif;
}


form.woocommerce-form.woocommerce-form-login.login input{
			width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 10px;
}

#zakl{
	display: none;
}
#zakl2{
	display: none;
}
.zakladanie{
	display: none;
}
form.woocommerce-form.woocommerce-form-login.login input#rememberme{
			width: inherit;
	height: inherit;
	margin-top: 0px;
	padding: 0px;
}

.woocommerce p{
	font-family: 'Raleway', sans-serif;
}
label{
	font-family: 'Raleway', sans-serif;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
			width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 10px;
}

button.woocommerce-Button.button{
	    background-color: #000;
    padding: 15px;
    border-bottom: 3px solid #e70882;
    color: #fff;
    font-weight: 600;
}

.menu-mobile{
	display: none;
}

.outer {
  overflow: hidden;
  position: relative;
   
}

.clos{
	display: none;
}


.ham{
	display: none;
}

.logo-mobile{
	display: none;
}

.files_to .col20{
	   background-color: #f6f2f1;
	   min-height: 400px;
}

.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0;

}
.tabs-nav li:first-child a {
    border-right: 0;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
}

.woocommerce-MyAccount-navigation{
	background-color: #f6f2f1;
}
.woocommerce-MyAccount-navigation ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	apdding-top: 20px;
	padding-bottom: 20px;
}
.woocommerce-MyAccount-navigation ul li{
text-align: center;
margin-top: 20px;
}
.woocommerce-MyAccount-navigation ul li a:hover{
border-bottom: 1px solid;
}
 .woocommerce-MyAccount-navigation a:visited{
	color: #e70882 !important;
}
.woocommerce-MyAccount-navigation .is-active{
	font-weight: 700;
}
.tabs-nav a {

    color: hsl(215, 6%, 57%);
    display: block;
    font-size: 11px;
   
    height: 40px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
  
}
.tabs-stage li{
	list-style: none;
    border: 1px solid;
    width: 32%;
    padding: 30px;
    text-align: center;
    float: left;
    margin-left: 10px;
        min-height: 250px;
          -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 14%;
}

.tabs-stage ul{
	margin: 0px;
}
.tabs-stage {
  
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border-top: 0;
   
    margin-bottom: 20px;
    position: relative;
    top: 0;
    width: 80%;
    float: left;
}
.tabs-stage h2{
		color: #000;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0px;
}
.tabs-stage a{
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
}
.tabs-stage a:hover{
	color: #cb207e;
	text-transform: uppercase;
	font-weight: 600;
}
.tabs-stage p {
    margin: 0;
    padding: 20px;
    color: hsl(0, 0%, 33%);
}

.files_to{
	margin-top: 30px;
}
.term_down {
	text-align: left;
	padding-left: 15px;
		font-family: 'Raleway', sans-serif;
}
.term_down a{
	color: #e6007e;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
		text-align: left;
		font-weight: 600;
}

.tab-active a{
		color: #ab0e64;
		font-weight: 700;
}

.current-menu-item a{
	color: #e6007e !important;
	font-weight: 700;
}










/* 
-------------------------------------------------------------------- MOBILE QUERY --------------------------------------------------------------------------
 */





@media only screen and (max-width: 1366px) {
   .container{
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.main-menu ul li a{
	font-size: 12px;
}
.slid-content h2{
	font-size: 40px;
}
.slid-content p.con1{
	font-size: 80px;
	line-height: 80px;
}






}








@media only screen and (max-width: 768px) {
	.por_form{
		max-width: 100%;
	}
	.onas h2{
		font-size: ;
	}
	.col30{
		width: 100%;
	}
	.col70.term_desc{
		padding-top: 0px;
		width: 100%;
	}
	.col70.term_desc h2{
		text-align: center;
	}
	form.woocommerce-form.woocommerce-form-login.login{
		max-width: 100%;
	}
	.section2{
		margin-top: 20px;
	}
	.onas_content{
		text-align: left;
	}
	.section2{
		background: none !important;
	}
	.section2_content2 h2{
		text-align: center;
		padding: 0px;
		padding-left: 0px !important;
	}
		.onas_content h2{
			padding-left: 15px;
			margin-bottom: 0px;
		}
		.onas_content p{
			margin-top: 0px;
		}
		.section2_content h2{
			padding-left: 0px;
		}
	.logo-mobile{
		display: block;
	}
	.ham{
		display: block;
	}

	.slider-main .slick-list{
		height: auto !important;
	}
	.slider-nav-div{
		font-size: 9px;
		height: 40px;
		padding-left: 5px;
		padding-right: 5px;
		    overflow: hidden;
	}
	.slider-nav{
		height: auto;
		z-index: 8;
	}
	.clos{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
	}
	.clos img{
		max-width: 20px;
	}
.logo-mobile{
	position: absolute;
	z-index: 9999999;
	left: 10px;
	top: 10px;
}
.logo-mobile img{
	max-width: 100px;
}
   .container{
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.container-almost-width {
	width: 100%;
}
.menu-desk{
	display: none;
}
.logo{
	max-width: 100px;
}
.main-menu-mobile{
	    overflow: hidden;
    width: 100%;
    position: absolute;
    padding-top: 10%;
   
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 80vh;
}
.main-menu-mobile .main-menu{
	width: 100%;
	float: none;
	text-align: center;
}
.main-menu-mobile ul{
	    width: 100%;
    padding: 0px;
    margin: 0px;
}
.main-menu-mobile ul li{
	display: block;
	width: 100%;
	padding-left: 0px;
	margin-top: 10px;
}
.main-menu-mobile ul li a{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}
.slid-content h2{
	font-size: 15px;
	margin-bottom: 1px;
}
.slid-content p.con1{
	font-size: 12px;
	line-height: 15px;
	margin-top: 1px;
	margin-bottom: 3px;
}
.slid-content p.con2{
	font-size: 12px;
		margin-top: 3px;
	margin-bottom: 3px;
}
.slid-content{
	z-index: 8;
	    top: 26%;
}

.menu-mobile .logo{
	position: absolute;
	z-index: 99999;
	left: 10px;
}

.ham{
	position: absolute;
	z-index: 999999;
	right: 10px;
	top: 10px;
}
.ham img{
	max-width: 20px;
}
.section2_content{
	    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    padding: 4%;
}
ul#menu-menu-glowne-2 {
    margin-left: 0px;
    padding-left: 0px;
}
.menu-footer ul li{
	width: 100%;
	margin-left: 0px;
}
.page-def{
	min-height: 200px;
}
.page-def h2{
	font-size: 30px;
}
.column50{
	width: 100%;
}
td.fir_td{
	    width: 20%;
	font-size: 10px;
}
td.sec_td{
	font-size: 10px;
	width: 18%;
}
.column50.prze_con.text-left{
	text-align: center;
}
td.thir_td{
	font-size: 10px;
	width: 30%;
}
.woof_redraw_zone{
	width: 100%;
}
.res-sklep{
	width: 100%;
}
.contact_form{
	width: 100%;
}
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
width:100%;}
td.four_td{
	font-size: 10px;
	width: 32%;
}
.szkolenia_content table a.btn{
	font-size: 10px;
	padding: 4px !important;
}
.sid-sklep{
	width: 100%;
}
.szkolenia_content table td{
	padding: 5px;
}
.zapytaj_form{
	width: 100%;
}
.col40{
	max-width: 100%;
	padding: 15px;
}
.files_to .col20{
	width: 30%;
	padding-top: 15px;
}
.tabs-stage li{
	width: 100%;
}
.tabs-stage a{
	font-size: 15px;
}
.tabs-stage h2{
	font-size: 15px;
}
.tabs-stage li {
    list-style: none;
    border: 1px solid;
    width: 100%;
    padding: 30px;
    text-align: center;
    float: left;
    margin-left: 10px;
    min-height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40%;
}
.term_down a {
    color: #e6007e;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    text-align: left;
    font-weight: 600;
    line-height: 15px;
}
.tabs-stage{
	width: 70%;
}
.max30{
	max-width: 100%;
	padding: 15px;
}
.column50 a.btn{
	margin: 0 auto;
}
.col35{
	max-width: 100%;
}
.section2{
	min-height: 200px;
}
.section2_content2 {
    width: 100%;
    margin-left: 0px;
    padding: 20px;
    padding-top: 3%;
}

h2.h2big {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs-nav2 li{
	width: 33%;
}
.tabs-nav2 a{
	font-size:10px;
}











}